<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.Pages.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">

    <classes>
     <class name="com.Tests.LoginTest"/>
	  <class name="com.Tests.Add_EmployeTest"/>
     <class name="com.Tests.Hometest"/>
     <class name="com.Tests.Add_UserTest"/>


    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
